<h1>Search Analytics</h1>

<input type="text" id="searchInput" placeholder="Search...">
<div id="suggestionsContainer"></div>


<h2>Top trends</h2>
<ul id="topTrends"></ul>

<h2>Recent Seaches</h2>
<div id="recentSearchesContainer"></div> 

<%= javascript_include_tag 'search' %>
<%= javascript_include_tag 'trends' %>
<%= javascript_include_tag 'suggestions' %>
<%= javascript_include_tag 'recents' %>
